*{
  font-size: 12px;
  font-family: "Times New Roman";
  color: #828282;
}

body{
  width: 984px;
  height: 120px;
  padding: 2px;
  margin: 0 auto;
}

#header
{
  width:984px;
  height: 120px;
}

#logo{
  float: left;
  width: 199px;
  height: 80px;
 background: url("js/vendor/logo.PNG") no-repeat left bottom
}

#search{
  width:50px;
  height: 80px;
  float: right;
}

#nav{
  clear:both;
  width:984px;
  height: 40px;
  background: #EBEBEB;
}

#picture{
  width:984px;
  height: 337px;
  background: #828282;
}

#main{
  width:984px;
  height: 250px;
  border-bottom: 5px ridge #DEDEDE;
}

#left{
  width:300px;
  height: 200px;
  background: #EFD;
  float:left;
  border-right: 10px solid;
  border: 0px;
}

#center{
  width:366px;
  height: 200px;
  float: left;
  background: #EFD;
  border-right: 5px solid;
  border: 0px;
  margin: 0px;
}

#right{
  width:318px;
  height: 200px;
  background: #EFD;
  overflow: hidden;
  float: right;
  text-align: center;
  vertical-align: middle;
  border: 0px;
  margin: 0px;
}

#footer{
  width:984px;
  height: 40px;
  text-align: center;
  background: #F7F7F7;
}

table{
  text-align: center;
  line-height: 1.5em;
}

a:link,a:link,a:active{color: #828282;text-decoration: none}
#nav a:hover{color: #BF0000;text-decoration: underline}
#nav td{
  width:2005px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

ul{
  list-style: none;
  margin-left: 10px;
  line-height: 1.8em;
}

#left li{
  border-bottom: 1px dotted #090;
}

#left a:hover{
  color: #BF0000;
  text-decoration: underline;
}

input{
  vertical-align: middle;
  padding: 2px auto;
}

#footer p{
  margin-top: 20px;
  text-align: center;
  color: #333;
}
